<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title><%=title%></title>
</head>
<body>
    <h1>Your Info</h1>
    <p>Name: <%=firstName%> <%=lastName%></p>
    <p>Email: <%=email%></p>
    <p>Phone Number: <%=number%></p>
    <p>Address: <%=address%></p>
</body>
</html>